
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Smokum&display=swap');

*{ 

  margin:0;
  padding:0;
  box-sizing: border-box;
}


body {
  font-family: 'Smokum', cursive;
}

.App{
background-image: url('./assets/vul.jpg');
background-size: cover;
background-position: bottom;
transition: 0.4 ease-out;
}
main{
  min-height: 100vh;
}
.App.calor{
  background-image: url('./assets/lol.jpg');
}
main{
  main-height: 100vh
}
